.button {
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 55%;
  margin-left: 47%;
  font-size: 13px;
  background-color: rgb(9, 113, 241); 
  cursor: pointer;
  padding: 0em;
  border-width: 1.85px;
  border-color: black;  
  color: white;
  text-align: center;
  width: 90px;
  height: 30px;
  align-items: center;
}

.body {
  background:linear-gradient(rgba(1,0,0,0.85),transparent);
  background-color: lawngreen;
}

.title {
  font-size: 45px;
  margin-left: 30%;
  color: yellow;
  text-decoration-line: underline;
}

.subtitle1 {
  margin-top: 0;
  padding-top: 5%;
  padding-bottom: 2.5%;
  margin-left: 3%;
  color: yellow;
  text-decoration-line: underline;
  text-align: center;
}

.text {
  font-size: 20px;
  font-family: Kalam;
  margin-left: 3%;
  color: yellow;
  margin-bottom: 20%;
  text-align: center;
}




.App {
  text-align: center;
  style.left: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
