.topbar {
  background-color:yellow;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.homepage {
  background:linear-gradient(rgba(0,0.5,0.5,0.7),transparent);
  background-color: lawngreen;
  margin-bottom: 0;
  padding-bottom: 10%;
}

.homelink {
  color: black;
  margin-left: 40%;
  font-size:13px;
}

.homepagesubtitle {
  margin-top: 0;
  padding-top: 10%;
  padding-bottom: 2.5%;
  margin-left: 3%;
  color: yellow;
  text-decoration-line: underline;
  text-align: center;
  font-weight: 400;
  font-family: Segoe UI;
}

.homepagetext {
  font-size: 20px;
  font-weight: 200;
  font-family: Segoe UI;
  margin-left: 3%;
  color: yellow;
  margin-bottom: 15%;
  text-align: center;
}

.calcpage {
  position:relative;
}

.calcpage1 {
  position:relative;
}

.calcpage:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('chris-liverani-ViEBSoZH6M4-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.calclink {
  color: black;
  margin-left: 10%;
  font-size:13px;
}

.calcpagetext {
  font-size: 20px;
  font-weight: 500;
  font-family: Segoe UI;
  margin-left: 3%;
  margin-top: 15%;
  color: black;
  margin-bottom: 5%;
  text-align: center;
}

.calcpagetextbox {
  border: 3px solid black;
}

.button {
  border-radius: 5px;
  border:2px solid black;
  margin-top: 1.5%;
  margin-bottom: 31.5%;
  margin-left: 47%;
  font-size: 13px;
  background-color: rgb(9, 113, 241); 
  cursor: pointer;
  border-color: black;  
  color: white;
  text-align: center;
  width: 100px;
  height: 33px;
}

.buttonpagebox {
  border-top:5px solid black;
}

.errorpage {
  background-color: white;
}

.errormessage {
  color: red;
  font-size: 45px;
  text-align: center;
  margin-top: 1%;
  padding-top: 10%;
}

.errorhelpmessage {
  color: black;
  text-align: center;
  font-size: 15px;
}

.homepagebox {
  border-top:5px solid black;
}